* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(110, 0, 173);
    position: absolute;
    bottom: 45%;
    left: 0px;
    transform: skewY(-10deg);
    z-index: -1;
}

header {
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-pic {
    position: relative;
}

picture img {
    box-shadow: 0px 0px 10px 0px gray;
}

.name {
    color: white;
    position: absolute;
    left: 40%;
    bottom: 10px;
    font-size: 2.5rem;
}

.about-me-wrap {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px gray;
    overflow: hidden;
}

.about-me-title {
    margin-bottom: 20px;
}

.about-me-paragraph {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.social-icons > i {
    font-size: 1.5rem;
}

main {
    background-color: white;
    padding: 40px;
}

.students-title {
    margin-bottom: 20px;
}

.student-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    gap: 40px;
}

.student {
    box-shadow: 0px 0px 10px 0px gray;
}

.student img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.student-info {
    padding: 10px;
}

.student-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer {
    padding: 0px 40px;
    margin-top: 40px;
    background-color: rgb(110, 0, 173);
    
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-info {
    color: white;
    margin: 40px;
}

.contact-info h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.devicon-github-original,
.devicon-linkedin-plain,
.devicon-twitter-original {
    font-size: 1.5rem;
    margin-right: 10px;
}

.contact-picture img {
    box-shadow: 0px 0px 10px 0px gray;
    margin: 40px;
}

@media (min-width: 700px) and (max-width: 1100px) {
    header,
    .about-me-wrap,
    .header-pic {
        display: block;
    }

    .header-pic {
        float: left;
        margin-right: 10px;
        position: relative;
        top: -20px;
        left: -20px;
    }

    .header-pic .name {
        position: absolute;
        left: 30%;
        bottom: 10px;
        font-size: 2rem;
    }

    .about-me-wrap {
        overflow: visible;
        margin: 20px;
    }
}

@media (max-width: 770px) {
    .contact-info {
        margin: 20px;
    }

    .contact-picture img {
        margin: 20px;
    }
}

@media (max-width: 700px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header,
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-pic {
        margin-bottom: 20px;
    }

    .header-pic .name {
        bottom: 10px;
        left: 40%;
        font-size: 1.5rem;
    }
}

@media (max-width: 330px) {
    header,
    main,
    footer {
        padding: 20px;
    };
}

@media (min-width: 1400px) {
    header::before {
        transform: skewY(-8deg);
    }

    header,
    main,
    footer {
        padding: 80px;
    }
}